html, body, #root {
  height: 100%;
}

#root {
  background: url(./img/wood-table.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}